In [3]:
import pandas as pd
from etl.etl import etl

pd.set_option("display.max_columns", None)

In [4]:
df = etl()
df

,date,state_name,inconclusive,negative,positive,positive_rate,fema_region
0,2020/03/01,Alabama,0.0,96.0,16.0,0.142857,Region 4
56,2020/03/02,Alabama,0.0,72.0,6.0,0.076923,Region 4
112,2020/03/03,Alabama,0.0,94.0,9.0,0.087379,Region 4
168,2020/03/04,Alabama,0.0,0.0,2.0,1.000000,Region 4
224,2020/03/05,Alabama,0.0,61.0,6.0,0.089552,Region 4
...,...,...,...,...,...,...,...
68991,2023/07/15,Wyoming,0.0,11.0,3.0,0.214286,Region 8
69047,2023/07/16,Wyoming,0.0,7.0,6.0,0.461538,Region 8
69103,2023/07/17,Wyoming,0.0,25.0,10.0,0.285714,Region 8
69159,2023/07/18,Wyoming,0.0,23.0,10.0,0.303030,Region 8
69215,2023/07/19,Wyoming,0.0,12.0,1.0,0.076923,Region 8